# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略secretKey下面所有文件
/src/app/secretKey/**

# 忽略发送邮箱的配置
/src/app/sendEmail/config.js

# 互虐upload/avatar中所有有文件
/upload/avatar/**